{% extends 'backend.html.twig' %}

{% block content %}

<a class="button inline" href="{{ path('keys_add') }}">{% trans %}key.add{% endtrans %}</a>
{{ form(searchForm) }}

<table>
  <thead>
    <tr>
      <th>
        <div class="icon-cell">
          {% trans %}key.handle{% endtrans %}
        </div>
      </th>
      <th>
        <div class="icon-cell">
          <span class="icon-20 icon-key"></span>
          {% trans %}key.description{% endtrans %}
        </div>
      </th>
      <th>
        <div class="icon-cell">
          {% trans %}key.actions{% endtrans %}
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for key in keys %}
    <tr>
      <td>{{ key.handle }}</td>
      <td>{{ key.description }}</td>
      <td>
        {% if key.deleted is same as(false) %}
          <a
            class="button inline"
            href="{{ path('keys_edit', {"handle": key.handle}) }}"
          >
            <span class="icon-20 icon-edit"></span>
            {% trans %}key.edit{% endtrans %}
          </a>
          <a
            class="button inline"
            href="{{ path('keys_confirm_deletion', {"handle": key.handle}) }}"
          >
            <span class="icon-20 icon-delete"></span>
            {% trans %}key.delete{% endtrans %}
          </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% set baseUrl = path("keys_list") ~ "?" %}
{% if query %}
  {% set baseUrl = baseUrl ~ "query=" ~ query ~ "&" %}
{% endif %}
{% if showDeleted %}
  {% set baseUrl = baseUrl ~ "showDeleted=1&" %}
{% endif %}
{{ include("components/pagination.html.twig") }}

{% endblock %}
