{% extends 'backend.html.twig' %}

{% block content %}

<a class="button inline" href="{{ path('clients_add') }}">{% trans %}client.add{% endtrans %}</a>
{{ form(searchForm) }}

<table>
  <thead>
    <tr>
      <th>
        <div class="icon-cell">
          {% trans %}client.handle{% endtrans %}
        </div>
      </th>
      <th>
        <div class="icon-cell">
          <span class="icon-20 icon-key"></span>
          {% trans %}client.description{% endtrans %}
        </div>
      </th>
      <th>
        <div class="icon-cell">
          {% trans %}client.actions{% endtrans %}
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
    <tr>
      <td>{{ client.handle }}</td>
      <td>{{ client.description }}</td>
      <td>
        {% if client.deleted is same as(false) %}
          <a
            class="button inline"
            href="{{ path('clients_edit', {"handle": client.handle}) }}"
          >
            <span class="icon-20 icon-edit"></span>
            {% trans %}client.edit{% endtrans %}
          </a>
          <a
            class="button inline"
            href="{{ path('clients_confirm_deletion', {"handle": client.handle}) }}"
          >
            <span class="icon-20 icon-delete"></span>
            {% trans %}client.delete{% endtrans %}
          </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% set baseUrl = path("clients_list") ~ "?" %}
{% if query %}
  {% set baseUrl = baseUrl ~ "query=" ~ query ~ "&" %}
{% endif %}
{% if showDeleted %}
  {% set baseUrl = baseUrl ~ "showDeleted=1&" %}
{% endif %}
{{ include("components/pagination.html.twig") }}

{% endblock %}
