{% extends 'backend.html.twig' %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>
        <div class="icon-cell">
          {% trans %}request.id{% endtrans %}
        </div>
      </th>
      <th>
        <div class="icon-cell">
          <span class="icon-20 icon-key"></span>
          {% trans %}request.key{% endtrans %}
        </div>
      </th>
      <th>
        <div class="icon-cell">
          {% trans %}request.state{% endtrans %}
        </div>
      </th>
      <th>
        <div class="icon-cell">
          {% trans %}request.created{% endtrans %}
        </div>
      </th>
      <th>
        <div class="icon-cell">
          {% trans %}request.expires{% endtrans %}
        </div>
      </th>
      <th>
        <div class="icon-cell">
          {% trans %}request.processed{% endtrans %}
        </div>
      </th>
      <th>
        <div class="icon-cell">
          {% trans %}request.fulfilled{% endtrans %}
        </div>
      </th>
      <th>
        <div class="icon-cell">
          {% trans %}request.actions{% endtrans %}
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for data in requests %}
    {% set acceptForm = data.acceptForm|default(null) %}
    {% set denyForm = data.denyForm|default(null) %}
    {% set request = data.request %}
    <tr>
      <td>{{ request.id }}</td>
      <td>{{ request.key.handle }}</td>
      <td>{{ request.state }}</td>
      <td>{{ request.created|date() }}</td>
      <td>{{ request.expires|date() }}</td>
      <td>
        {% if request.processed %}
        {{ request.processed|date() }}
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {% if request.fulfilled %}
        {{ request.fulfilled|date() }}
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {% if acceptForm %}
        {{ form(acceptForm) }}
        {% endif %}
        {% if denyForm %}
        {{ form(denyForm) }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% set baseUrl = path("requests_list") ~ "?" %}
{{ include("components/pagination.html.twig") }}

{% endblock %}
